// color
$gray: rgb(96, 96, 96);
$yellow: rgb(252, 252, 49);
$blue: rgb(13, 48, 222);
// transition
$smooth: 0.3s ease-out;

// shadow
$box-shadow-1: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

//bordeer
$border-light: solid 0.2px rgb(218, 218, 218);
$border-normal: solid 0.2px rgb(188, 188, 188);
